.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

body {
  height: 100%;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #5c6b7e; }

header .project-name {
  font-family: "cosmopolitan",serif;
  color: #429cb2;
  font-size: 7em; }

.strong {
  color: #0d353f;
  font-weight: 700;
  font-size: 1.2em; }

.dollar-sign {
  top: -1.4em;
  position: relative; }

input.selected-studio-location {
  display: none; }

.super-strong {
  color: #429cb2;
  font-weight: 300;
  font-size: 3em;
  margin: 0 0.1em; }

.unit {
  position: relative; }

.find-studios {
  display: none;
  width: 10em;
  margin-top: 4em;
  background-color: #429cb2;
  border-color: #429cb2; }

ul.studios {
  padding: 0;
  list-style: none; }
  ul.studios li {
    padding: 2em 0;
    border-bottom: 1px solid #efefef; }
    ul.studios li .profile-photo {
      background: url("../images/studio-placeholder.png") no-repeat;
      background-size: 12.5em;
      height: 7em; }
    ul.studios li:hover {
      background-color: #f1fcff; }

footer {
  background-color: #0d353f; }
  footer .row > div {
    margin-top: 0.4em;
    margin-bottom: 0.4em; }
  footer ul {
    list-style: none; }
    footer ul li {
      position: relative; }
      footer ul li a {
        display: block;
        width: 2em;
        height: 2em;
        background: white;
        border-radius: 2em; }
      footer ul li .fa {
        position: relative;
        top: 0.5em;
        color: #0d353f; }

.dropdown {
  line-height: 1.5em;
  margin-top: 3em; }
  .dropdown ul {
    padding: 0;
    margin: 0; }
  .dropdown li {
    list-style: none; }
  .dropdown .dropdown-container {
    display: inline-block;
    position: relative;
    text-align: center; }
  .dropdown .dropdown-description {
    background: white;
    display: inline;
    color: #999999;
    font-size: 1em;
    line-height: 40px;
    margin: 0;
    padding: 0 0.5em 0 1em;
    font-weight: 300; }
    @media (min-width: 1200px) {
      .dropdown .dropdown-description {
        font-size: 1.3em; } }
  .dropdown .dropdown-button {
    background: white;
    cursor: pointer;
    display: inline;
    font-size: 1em;
    font-weight: 800;
    line-height: 40px;
    margin: 0;
    padding: 0 2.5em 0 0.5em;
    position: relative; }
    @media (min-width: 1200px) {
      .dropdown .dropdown-button {
        font-size: 1.3em;
        padding: 0 2.5em 0 0.5em; } }
  .dropdown .dropdown-button:hover {
    background-color: #f7f7f7; }
  .dropdown .dropdown-button:after {
    color: #333;
    content: "\25BE";
    display: inline;
    position: relative;
    left: 1em; }
  .dropdown .dropdown-menu {
    margin: 0;
    padding: 0;
    -webkit-transition: all 0.2s ease-in-out;
    /* For Safari 3.1 to 6.0 */
    transition: all 0.2s ease-in-out;
    background: white;
    border-radius: 3px;
    border: 1px solid silver;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    color: #333;
    cursor: pointer;
    display: none;
    overflow: show;
    position: absolute;
    right: 2.9em;
    top: 50px;
    width: 228px;
    z-index: 99999;
    left: auto; }
    .dropdown .dropdown-menu:before {
      position: absolute;
      right: 1em;
      color: white;
      content: "\25b2";
      font-size: 1.4em;
      pointer-events: none;
      text-shadow: 0 -2px 2px rgba(0, 0, 0, 0.3);
      top: -0.7em; }
  .dropdown .dropdown-menu li {
    border-bottom: 1px solid silver;
    color: #333;
    padding: 0.5em; }
  .dropdown .dropdown-menu li:hover {
    background: #f7f7f7; }
  .dropdown .dropdown-menu li:first-child {
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
  .dropdown .dropdown-menu li:last-child {
    border: none;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px; }
  .dropdown .show-menu {
    display: block; }

/*# sourceMappingURL=dowse.css.map */
