$teal: #429cb2;
$pink: #ff86b1;
$malibu: #78e4ff;
$dark-teal: #0d353f;
$gray: #5c6b7e;
$text-size: 15px;
$light-blue: #f1fcff;
$screen-lg-min: 1200px;
$screen-md-min: 992px;
$screen-sm-min: 768px;

.vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

body{
	height: 100%;
	font-size: $text-size;
	font-family: 'Open Sans', sans-serif;
	color: $gray;
}

.wrapper{
  min-height: 100%;
  position:relative;
}
header{
	.project-name {
  	font-family: "cosmopolitan",serif;
  	color: $teal;
  	font-size: 7em;
	}
  @media (min-width: $screen-lg-min) {
    margin-top: 6em;
    margin-bottom: 3em;
  }
}

h1{
  font-weight: 300;
}

.highlight{
  color: $teal;
}

.strong{
	color: $dark-teal;
	font-weight: 700;
	font-size: 1.2em;
}

.dollar-sign{
	top: -1.4em;
	position: relative;
}

input.selected-studio-location{
	display: none;
}

.super-strong{
	color: $teal;
	font-weight: 300;
	font-size: 3em;
	margin: 0 0.1em;
}

.unit{
	position: relative;
}

.find-studios{
	display: none;
	width: 10em;
  margin-top: 2em;
  margin-bottom: 2em;
  @media (min-width: $screen-lg-min) {
	 margin-top: 4em;
  }
	background-color: $teal;
	border-color: $teal;
}

.budget-option{
	display: none;
}

input.budget{
  border: none;
  border-bottom: 1px solid $malibu;
  font-size: 1.5em;
  color: $teal;
  padding-left: 0.5em;
  font-weight: 300;
}

ul.studios{
  margin-top: 1em;
  @media (min-width: $screen-lg-min) {
    margin-top: 3em;
  }
	padding: 0;
	list-style: none;
	li{
		.profile-photo{
      img{
        width: auto;
        height: 100%;
        margin: 0 auto;
        display: block;
      }
			height: 7em;
		}
		padding: 2em 0;
		border-bottom: 1px solid #efefef;
		&:hover{
			background-color: $light-blue;
		}
	}
}

.page{
  padding-bottom:5em;
}

footer{
	background-color: $dark-teal;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  text-align: left;
	.row > div{
		margin-top: 0.4em;
		margin-bottom: 0.4em;
	}
	ul.footer-social {
		list-style: none;
	  li {
	  	position: relative;
	   	a{
	   		display: block;
	   		width: 2em;
	   		height: 2em;
	   		background: white;
	   		border-radius: 2em;
        text-align: center;
	   	}
	   	.fa{
	   		position: relative;
	   		top: 0.5em;
	   		color: $dark-teal;
	   	}
	 	}
	}
}

@media (min-width: $screen-lg-min) {
  .studio-option{
    .dropdown-menu{
      right: 2.9em;
    }
  }

  .budget-option{
    .dropdown-menu{
      right: 2.9em;
    }
  }
}

.dropdown {
  ///////////////////////////////////////////////////////////////////////////////////
  $base-border-color: gainsboro !default;
  $base-border-radius: 3px !default;
  $base-line-height: 1.5em !default;
  $base-background-color: white !default;
  $dark-gray: #333 !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;
  
  line-height: $base-line-height;

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
  }
  //////////////////////////////////////////////////////////////////////////////////

  $dropdown-color: $base-font-color;
  $dropdown-description-color: lighten($dropdown-color, 40%);
  $dropdown-border: 1px solid silver;
  $dropdown-background: $base-background-color;
  $dropdown-background-hover: darken($dropdown-background, 3%);
  $dropdown-inner-border: 1px solid silver;
  $dropdown-height: 40px;
  $dropdown-padding: 1em;
  $dropdown-distance-from-menu: 50px;
  $dropdown-arrow-top-distance: 0;

  .dropdown-container {
    display: inline-block;
    position: relative;
    text-align: center;
  }
  
  .dropdown-block{
    display: inline;
    position: relative;
  }
  .dropdown-description {
    background: $dropdown-background;
    display: inline;
    color: $dropdown-description-color;
    font-size: 1em;
    line-height: $dropdown-height;
    margin: 0;
    padding: 0 ($dropdown-padding / 2) 0 $dropdown-padding;
		font-weight: 300;
    @media (min-width: $screen-lg-min) {
      font-size: 1.3em;
    }
  }

  .dropdown-button {
    background: $dropdown-background;
    cursor: pointer;
    display: inline;
    font-size: 1em;
    font-weight: 300;
    line-height: $dropdown-height;
    margin: 0;
    padding: 0 ($dropdown-padding * 1) 0 0;
    position: relative;
    color: $teal;
    @media (min-width: $screen-lg-min) {
      font-size: 1.3em;
      padding: 0 ($dropdown-padding * 1) 0 0;
    }
  }

  .dropdown-button:hover {
    background-color: $dropdown-background-hover;
  }

  .dropdown-button:after {
    color: $base-font-color;
    content: "\25BE";
    display: inline;
    position: relative;
    left: $dropdown-padding;
  }

  .dropdown-menu {
  	margin: 0;
  	padding: 0;
  	-webkit-transition: all 0.2s ease-in-out; /* For Safari 3.1 to 6.0 */
  	transition: all 0.2s ease-in-out;
    background: $dropdown-background;
    border-radius: $base-border-radius;
    border: $dropdown-border;
    box-shadow: 0 2px 2px transparentize(black, 0.8);
    color: $dropdown-color;
    cursor: pointer;
    display: none;
    overflow: show;
    position: absolute;
    top: $dropdown-distance-from-menu;
    width: 228px;
    z-index: 99999;
		left: auto;
    &:before {
      position: absolute;
      right: 1em;
      color: $dropdown-background;
      content: "\25b2";
      font-size: 1.4em;
      pointer-events: none;
      text-shadow: 0 -2px 2px transparentize(black, 0.7);
      top: -0.7em;
    }
  }

  .dropdown-menu li {
    border-bottom: $dropdown-inner-border;
    color: $dropdown-color; 
    padding: $dropdown-padding / 2;
  }

  .dropdown-menu li:hover {
    background: $dropdown-background-hover;
  }

  .dropdown-menu li:first-child {
    border-top-left-radius: $base-border-radius;
    border-top-right-radius: $base-border-radius;
  }

  .dropdown-menu li:last-child {
    border: none;
    border-bottom-left-radius: $base-border-radius;
    border-bottom-right-radius: $base-border-radius;
  }

  .show-menu {
    display: block;
  }
}